.login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginWrapper {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aabbbb;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    position: relative;
    bottom: 8px;
    left: 5px;
    width: 60px;
    height: 60px;
}

.logo h1 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #6161cc;
    font-weight: 800;
}

.loginWrapper input {
    font-size: 22px;
    padding: 6px 8px;
    width: 100%;
    color: #559;
    margin: 10px 0;
    border-radius: 8px;
}

.loginWrapper input:focus {
    outline: 2px solid #966ee5;
}

.loginBtn,
.signUpBtn {
    display: block;
    text-align: center;
    width: 100%;
    padding: 4px;
    font-size: 24px;
    margin: 10px 0;
    background-color: #9e1afe;
    border-radius: 8px;
}

.loginBtn:hover {
    background-color: #8903e3;
}

.signUpBtn {
    margin: 30px 0 0 0;
    background-color: #2b2;
}

.signUpBtn:hover {
    background-color: rgb(16, 178, 16);
}

.loginWrapper span {
    font-size: 22px;
    color: #9a00ff;
    cursor: pointer;
}